e90-aws-textract/blog/3-of-x-should-send-newsletter/sam/state-machines/subscribe.asl.json
{
  "StartAt": "Send confirmation email, then wait for confirmation",
  "Comment": "Subscribe to email newsletter. Input: JSON object with properties email: string, privacyPolicyAcceptedAt: string",
  "States": {
    "Send confirmation email, then wait for confirmation": {
      "Type": "Task",
      "Next": "Save Contact",
      "Parameters": {
        "FromEmailAddress": "${EmailSource}",
        "Destination": {
          "ToAddresses.$": "States.Array($.email)"
        },
        "Content": {
          "Template": {
            "TemplateName": "${ConfirmationEmailTemplate}",
            "TemplateArn": "${ConfirmationEmailTemplateArn}",
            "TemplateData": {
              "email.$": "$.email",
              "confirmationLinkBase": "${ConfirmationLinkBase}",
              "token.$": "$$.Task.Token"
            }
          }
        }
      },
      "Resource": "arn:aws:states:::aws-sdk:sesv2:sendEmail.waitForTaskToken",
      "ResultPath": null
    },
    "Save Contact": {
      "Type": "Task",
      "Parameters": {
        "ContactListName": "${ContactListName}",
        "EmailAddress.$": "$.email",
        "AttributesData": {
          "privacyPolicyAcceptedAt.$": "$.privacyPolicyAcceptedAt"
        }
      },
      "Resource": "arn:aws:states:::aws-sdk:sesv2:createContact",
      "ResultPath": null,
      "Next": "DynamoDB PutItem",
      "Catch": [
        {
          "ErrorEquals": [
            "SesV2.AlreadyExistsException"
          ],
          "Next": "Email already subscribed -> do nothing",
          "Comment": "Email already subscribed"
        }
      ]
    },
    "DynamoDB PutItem": {
      "Type": "Task",
      "Resource": "arn:aws:states:::dynamodb:putItem",
      "Parameters": {
        "TableName": "${SubscribersTable}",
        "Item": {
          "id": {
            "S.$": "States.UUID()"
          },
          "email.$": "$.email"
        }
      },
      "Next": "Transform for Welcome Email",
      "ResultPath": null
    },
    "Transform for Welcome Email": {
      "Type": "Pass",
      "Parameters": {
        "email.$": "$.email",
        "templateData": {
          "email.$": "$.email"
        }
      },
      "Next": "Send Welcome Email"
    },
    "Send Welcome Email": {
      "Type": "Task",
      "Parameters": {
        "FromEmailAddress": "${EmailSource}",
        "Destination": {
          "ToAddresses.$": "States.Array($.email)"
        },
        "Content": {
          "Template": {
            "TemplateName": "${WelcomeEmailTemplate}",
            "TemplateArn": "${WelcomeEmailTemplateArn}",
            "TemplateData.$": "States.JsonToString($.templateData)"
          }
        }
      },
      "Resource": "arn:aws:states:::aws-sdk:sesv2:sendEmail",
      "End": true
    },
    "Email already subscribed -> do nothing": {
      "Type": "Succeed"
    }
  }
}