e90-aws-textract/blog/3-of-x-should-send-newsletter/sam/state-machines/subscribe.asl.json
{
  "StartAt": "Save Contact",
  "Comment": "Subscribe to email newsletter. Input: JSON object with properties email: string, privacyPolicyAcceptedAt: string",
  "States": {
    "Save Contact": {
      "Type": "Task",
      "Parameters": {
        "ContactListName": "${ContactListName}",
        "EmailAddress.$": "$.email",
        "AttributesData": {
          "privacyPolicyAcceptedAt.$": "$.privacyPolicyAcceptedAt"
        }
      },
      "Resource": "arn:aws:states:::aws-sdk:sesv2:createContact",
      "ResultPath": null,
      "Next": "Transform for Welcome Email",
      "Catch": [
        {
          "ErrorEquals": [
            "SesV2.AlreadyExistsException"
          ],
          "Next": "Email already subscribed -> do nothing",
          "Comment": "Email already subscribed"
        }
      ]
    },
    "Transform for Welcome Email": {
      "Type": "Pass",
      "Parameters": {
        "email.$": "$.email",
        "templateData": {
          "email.$": "$.email"
        }
      },
      "Next": "Send Welcome Email"
    },
    "Send Welcome Email": {
      "Type": "Task",
      "Parameters": {
        "Destination": {
          "ToAddresses.$": "States.Array($.email)"
        },
        "Source": "${EmailSource}",
        "Template": "${WelcomeEmailTemplate}",
        "TemplateData.$": "States.JsonToString($.templateData)"
      },
      "Resource": "arn:aws:states:::aws-sdk:ses:sendTemplatedEmail",
      "End": true
    },
    "Email already subscribed -> do nothing": {
      "Type": "Succeed"
    }
  }
}