e90-aws-textract/blog/3-of-x-should-send-newsletter/sam/state-machines/unsubscribe.asl.json
{
  "Comment": "Unsubscribe from email newsletter. Input: JSON object with properties email: string",
  "StartAt": "DeleteContact",
  "States": {
    "DeleteContact": {
      "Type": "Task",
      "Parameters": {
        "ContactListName": "${ContactListName}",
        "EmailAddress.$": "$.email"
      },
      "Resource": "arn:aws:states:::aws-sdk:sesv2:deleteContact",
      "Catch": [
        {
          "ErrorEquals": [
            "SesV2.NotFoundException"
          ],
          "Next": "Email not found -> do nothing",
          "Comment": "Email not found"
        },
        {
          "ErrorEquals": [
            "SesV2.BadRequestException"
          ],
          "Comment": "Email malformed",
          "Next": "Email not found -> do nothing"
        }
      ],
      "End": true
    },
    "Email not found -> do nothing": {
      "Type": "Succeed"
    }
  }
}