e90-aws-textract/blog/3-of-x-should-send-newsletter/sam/state-machines/unsubscribe.asl.json
{
  "Comment": "Unsubscribe from email newsletter. Input: JSON object with properties email: string",
  "StartAt": "Find email by id in lookup table",
  "States": {
    "Find email by id in lookup table": {
      "Type": "Task",
      "Resource": "arn:aws:states:::dynamodb:getItem",
      "Parameters": {
        "TableName": "${SubscribersTable}",
        "Key": {
          "id": {
            "S.$": "$.id"
          }
        }
      },
      "Next": "Found?",
      "Comment": "GetItem succeeds and returns a JSON _without_ the Item property when id not found"
    },
    "Found?": {
      "Type": "Choice",
      "Choices": [
        {
          "Not": {
            "Variable": "$.Item",
            "IsPresent": true
          },
          "Next": "Email by Id not found -> do nothing"
        }
      ],
      "Default": "Pick email and id"
    },
    "Pick email and id": {
      "Type": "Pass",
      "Next": "DeleteContact",
      "Parameters": {
        "id.$": "$.Item.id.S",
        "email.$": "$.Item.email.S"
      }
    },
    "Email by Id not found -> do nothing": {
      "Type": "Succeed"
    },
    "DeleteContact": {
      "Type": "Task",
      "Parameters": {
        "ContactListName": "${ContactListName}",
        "EmailAddress.$": "$.email"
      },
      "Resource": "arn:aws:states:::aws-sdk:sesv2:deleteContact",
      "Catch": [
        {
          "ErrorEquals": ["SesV2.NotFoundException"],
          "Next": "Delete item from lookup table",
          "Comment": "Email not found in SES but existed in Lookup table. Shouldn't happen"
        }
      ],
      "Next": "Delete item from lookup table",
      "ResultPath": null
    },
    "Delete item from lookup table": {
      "Type": "Task",
      "Resource": "arn:aws:states:::dynamodb:deleteItem",
      "Parameters": {
        "TableName": "${SubscribersTable}",
        "Key": {
          "id": {
            "S.$": "$.id"
          }
        }
      },
      "End": true
    }
  }
}
